{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "vue/component-tags-order": [
      "error",
      { "order": ["script", "template", "style"] }
    ],
    "vue/component-name-in-template-casing": ["error", "kebab-case"],
    "vue/component-definition-name-casing": ["error", "kebab-case"],
    "vue/multi-word-component-names": ["off"],
    "vue/match-component-file-name": ["error"]
  }
}
