@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-family-serif: "Alegreya", Constantia, "Lucida Bright", Lucidabright,
  "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
  "Liberation Serif", Georgia, serif;
$font-ui: var(--bs-font-sans-serif);
$font-family-base: $font-family-serif;

.font-ui {
  font-family: $font-ui;
}

.luminari {
  font-family: "Luminari";
  src: local("Luminari"), url("Luminari-Regular.woff") format("woff");
}

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";

.btn-minimal {
  color: $gray-600;
  text-decoration: underline;

  &:hover {
    background-color: $gray-100;
    color: $body-color;
  }
}
