@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "bootstrap/scss/functions";

$input-btn-focus-color: var(--bs-gray-500);
$input-btn-focus-width: 0.125rem;

$primary: #212529;

@import "bootstrap/scss/variables";

$custom-breakpoints: (
  xxxl: 1800px,
);

$grid-breakpoints: map-merge($grid-breakpoints, $custom-breakpoints);

$font-family-serif: "Alegreya", Constantia, "Lucida Bright", Lucidabright,
  "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
  "Liberation Serif", Georgia, serif;
$font-ui: var(--bs-font-sans-serif);
$font-family-base: $font-family-serif;

$font-weight-bold: 800;
$font-weight-bolder: 600;

$btn-font-size: $font-size-sm;
$btn-font-size-sm: $font-size-sm;
$btn-font-size-lg: $font-size-base;

$btn-border-radius: $border-radius-sm;
$btn-border-radius-lg: $border-radius;

.font-ui {
  font-family: $font-ui;
}

.luminari {
  font-family: "Luminari";
  src: local("Luminari"), url("Luminari-Regular.woff") format("woff");
}

.ruritania {
  font-family: "Ruritania";
  src: local("Ruritania"), url("Ruritania.ttf") format("ttf");
}

.fancy-cap {
  padding-top: 1rem;
  &::first-letter {
    @extend .ruritania;
    font-size: 3rem;
  }
}

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";

.btn-minimal {
  color: $gray-700;
  text-decoration: underline;

  &:hover {
    background-color: $gray-100;
  }
}

ol,
ul {
  padding-left: 1.5rem;
}

ul:not(.list-unstyled):not(.navbar-nav):not(.nav) li {
  list-style: none;
  position: relative;

  &::before {
    @extend .luminari;
    content: "\2022";
    font-size: 1.5rem;
    line-height: 1;
    position: absolute;
    left: -1rem;
    top: 0;
  }
}
